<%= simple_form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control', required: true %>
  </div><br />

  <div class="form-group col-md-8">
    <%= f.submit class: 'btn btn-sm btn-primary'%>
    <%= link_to 'Back', teams_path, class: 'btn btn-sm btn-default' %>
  </div>

<% end %>